@media only screen and (max-width:620px) {

  .header, 
  .about, 
  .paragraph, 
  .navigation, 
  .img, 
  .active, 
  .navigation-btn, 
  .button-1, 
  .contact-btn, 
  .name, 
  .name1, 
  .message, 
  .my-work, 
  .skills, 
  .about-me,
  .get-started
   {
    width:100%;
    float: center;
  }

  .resume {
  	float: left;
  	width: 100%;
  }


  .column {
  	width: 100%;
  }

  .paragraph p {
  	font-size: 15px;
  }
}




