@media only screen and (max-width:620px) {

  .header, 
  .about, 
  .paragraph, 
  .navigation, 
  .img,   
  .message, 
  .resume-btn
   {
    width:100%;
    float: center;
  }

  .button-1, .contact-btn, .skills, .my-work, .about-me {
    float: center;
    width: 50%;
    font-size: 16px;
  }
  

  .active, .navigation-btn {
    width: 35%;
    float: center;
    font-size: 10px;
  }

  .about img {
    width: 80%;
  }

  .header p {
    font-size: 10px;
  }

  .header h1 {
    font-size: 18px;
  }


  .header h2 {
    font-size: 23px;
  }


  .header h3 {
    font-size: 16px;
  }

  .resume {
  	float: center;
  	width: 40%; 
  }

  .name {
    float: center;
    width: 100%;
  }

  .name1 {
    float: center;
    width: 100%;
  }

  .column {
  	width: 100%;
  }

  .paragraph p {
  	font-size: 15px;
  }
}



@media screen and (max-width: 600px) {
  .navigation a {display: none;}
  .navigation a.icon {
    float: center;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .navigation.responsive {
    position: relative; 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  .navigation.responsive .icon {
    position: relative;
    float: none;
    right: 0;
    top: 0;
  }

  .navigation.responsive a {
    position: relative;
    float: none;
    display: block;
    font-size: 12px;
    text-align: center;
    -webkit-transition: .3s;
    transition: .3s;
  }
}



.navigation .icon {
  display: none;
}


